@charset "utf-8";
@import '~antd/dist/antd.css';

body{
    overflow: hidden;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1,
h2 {
    margin: 100px 0 20px;
    font-weight: normal;
}

a {
    font-size: 14px;
    color: #444;
}

.ant-card {
    margin: 0 auto;
}
